# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/ruby/tags/
image: ruby:latest

before_script:
  - ruby -v
  - bundle install -j $(nproc)
  - ./spec/install_bash.sh
  - bash --version
  - id
  - env

audit:
  script:
    - bundle exec rake bundle:audit:update
    - bundle exec rake bundle:audit:check

build:
  script:
    - bundle exec rake build
    - bundle exec rake build:checksum
    - cat checksums/*

cucumber:
  script: bundle exec rake cucumber

# Current Bash versions can be found at https://git.savannah.gnu.org/cgit/bash.git
rspec-bash-5.3:
  variables:
    INSTALL_BASH_VERSION: "5.3"
  script: bundle exec rake spec

rspec-bash-5.2:
  variables:
    INSTALL_BASH_VERSION: "5.2"
  script: bundle exec rake spec

rspec-bash-5.1:
  variables:
    INSTALL_BASH_VERSION: "5.1"
  script: bundle exec rake spec

rspec-bash-5.0:
  variables:
    INSTALL_BASH_VERSION: "5.0"
  script: bundle exec rake spec

rspec-bash-4.4:
  variables:
    INSTALL_BASH_VERSION: "4.4"
  script: bundle exec rake spec

rspec-bash-4.3:
  variables:
    INSTALL_BASH_VERSION: "4.3"
  script: bundle exec rake spec

rubocop:
  script: bundle exec rake rubocop

yard:
  script: bundle exec yard stats --list-undoc
