sudo: required
language: ruby
addons:
  apt:
    packages:
    - lftp
cache:
  directories:
    - bash
before_install: gem update --system --no-doc # https://github.com/sickill/rainbow/issues/49
before_script:
  - whereis bash
  - bash --version
  - ./spec/install_bash.sh
  - bash --version
after_script:
  - test -z "$MUTANT" || bundle exec mutant --include lib --require bashcov --use rspec 'Bashcov*'
os:
  - linux
rvm:
  - 2.2.6
  - 2.3.3
  - 2.4.0
env:
  matrix:
    - INSTALL_BASH_VERSION=4.0
    - INSTALL_BASH_VERSION=4.1
    - INSTALL_BASH_VERSION=4.2
    - INSTALL_BASH_VERSION=4.3
    - INSTALL_BASH_VERSION=4.4
matrix:
  include:
    - rvm: ruby-head
      env: INSTALL_BASH_VERSION=
    - rvm: rbx-2
      env: INSTALL_BASH_VERSION=
    - rvm: 2.4.0
      os: osx
      env: INSTALL_BASH_VERSION=
    - rvm: 2.4.0
      env: INSTALL_BASH_VERSION=
    - rvm: 2.4.0
      env: INSTALL_BASH_VERSION= MUTANT=1
  allow_failures:
    - os: osx
    - rvm: ruby-head
    - rvm: rbx-2
    - env: INSTALL_BASH_VERSION=4.0
    - env: INSTALL_BASH_VERSION=4.1
